{% extends './base.html' %}
{% load static %}
{% block content %}

    <section>
        <h1 class="mb-4">About Us</h1>

        <div class="mb-4">
            
            <p>Embark on a culinary journey with Zara Restaurant, where passion meets perfection. Our dedicated team of culinary experts are committed to delivering a symphony of flavours that elevate your dining experience. Our mission is to create memorable moments through exceptional food, while our vision is to be the preferred destination for gastronomic indulgence. Rooted in integrity, creativity, and excellence, our values guide us in crafting dishes that resonate with quality and passion. Join us in savoring the artistry of food at Zara Restaurant.
            </p>
           
        </div>

</html>
{% endblock %}