{% extends './base.html' %}
{% load static %}


{% block content %}
    <div class="container mt-4">
        <h2 style="color: #004080; font-family: 'Amasis MT Pro Light';"> Cart Items</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Add </th>
                    <th>Remove </th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>LKR {{ item.product.price }}</td>
                        <td>LKR {{ item.subtotal }}</td>
                        <th> <a href="{% url 'add_to_cart' item.product.id %}" class="btn btn-secondary">Add</a></th>
                        <th> <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-secondary">Remove</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <p><strong>Total Price: LKR {{ full_total }}</strong></p>
            <a href="{% url 'checkout' %}" class="btn btn-primary" style="background-color: #ff0000; color: #fff; border: 1px solid #ff0000;">Check Out</a>
            <p id="order-confirmation" style="display: none;">Order Confirmed</p>
        </div>
    </div>
    
{% endblock %}

