{% extends './base.html' %}
{% load static %}
{% block content %}

<body style="background-image: url('{% static 'images/homepg.png' %}'); background-size: cover; background-position: center; height: 100vh; margin: 0;">
    
        <div class="mb-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 style="text-align: center; color: #ffffff; font-size: 100px; font-family: 'Amasis MT Pro Light';">Zara Restaurant</h1>
            <p style="text-align: center; color: white; font-size: 30px; font-style: italic;">Once you try it, you will love it</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        
    <!-- <section>

        <div class="mb-4">
            
            <section>
                <img src="{% static 'images/home1.jpg' %}" alt="Home image1" style="width: 100%; height: auto;">
        </section>  
           
        </div> -->

    <!-- <footer style="background-color: rgba(255, 255, 255, 0.5);">
        <p>Contact Us: 0707770009 &nbsp; &nbsp;   Email:<a href="Zara@example.com" style="color: #000; text-decoration: underline;">zararestaurents@gmail.com</a></p>
        <p>&copy; Thank you for joining with us!</p>
    </footer> -->

</body>

</html>
{% endblock %}