{% extends './base.html' %}
{% load static %}
{% block content %}
   
<body>
    



    <div class="container ">
        <h1 style="color: #004080; font-family: 'Amasis MT Pro Light';">Products</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/'%}{{ product.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ product.name }}</b></h5>
                        <p style="color: rgb(11, 106, 43);">LKR {{ product.price }}</p>
                        <p class="card-text" style="text-align: justify;">{{ product.description }}</p>
                        <div class="text-center">
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-secondary">Add to Cart</a>
                        </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
       
      </div>


  

        <!-- Include Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    </html>
    {% endblock %}